<!-- ADD BUTTON -->
<div style="text-align:right">
  <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
</div>
<!-- ADD BUTTON END -->

<nz-table #managerTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th>ID</th>
      <th nzCustomFilter>
        Full Name
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th>Fund</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of managerTable.data">
      <td>{{data.id}}</td>
      <td>{{data.firstName}} {{data.lastName}}</td>
      <td>{{data.fund}}</td>
      <td>
        <i nz-icon nzType="edit" nzTheme="outline"></i>
        <nz-divider nzType="vertical"></nz-divider>
        <i nz-icon nzType="delete" nzTheme="outline"></i>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>