<nz-table >
  <thead>
    <tr>
      <th>ID</th>
      <th>Quantity</th>
      <th>Date</th>
      <th>Security</th>
      <a routerLink="add" class="nav-link" routerLinkActive="active">Add Position</a>
    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let position of positions| async">
      <td>{{position.id}}</td>
      <td>{{position.quantity}}</td>
      <td>{{position.date}}</td>
      <td>{{position.security.symbol}}</td>
      <td>
        <a href="javascript:void(0);" (click)="updatePosition(position.id)">Update 一 {{position.id}}</a>
        
        <nz-divider nzType="vertical"></nz-divider>
        <a href="javascript:void(0);" (click)="deletePosition(position.id)">Delete  </a>
        
      </td>
    </tr>
  </tbody>

</nz-table>