<div style="text-align:right">

  <i nz-icon nzType="plus-circle" nzTheme="outline" (click)="showModal()"></i>
  <nz-modal
    [(nzVisible)]="isModalVisible"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()"
  >
    <ng-template #modalTitle>Add a new security</ng-template>

    <ng-template #modalContent>
      <div [hidden]="submitted">
        <input nz-input placeholder="security symbol" id="symbol" required [(ngModel)]="security.symbol" name="symbol"/>
      </div>

      <div [hidden]="!submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="newSecurity()">Added</button>
      </div> 
    </ng-template>

    <ng-template #modalFooter>
      <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
      <button nz-button nzType="primary" (click)="handleOk()" nzLoading="isConfirmLoading">Add</button>
    </ng-template>
  </nz-modal>  
</div>

<nz-table >
  <thead>
    <tr>
      <th>ID</th>
      <th>Symbol</th>
      <th>Action</th>
    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let security of securities| async">
      <td>{{security.id}}</td>
      <td>{{security.symbol}}</td>
      <td>
        <a href="javascript:void(0);" (click)="updateSecurity(security.id)">Modify</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a href="javascript:void(0);" (click)="deleteSecurity(security.id)">Delete</a>
      </td>
    </tr>
  </tbody>

</nz-table>

<!-- <nz-table nzTableLayout="fixed">
  <thead>
    <tr>
      <th>ID</th>
      <th nzCustomFilter>
        Symbol
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let security of securities| async">
      <td>{{security.id}}</td>
      <td>{{security.symbol}}</td>
      <td>
        <a>Modify</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search security symbol" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu> -->
