<div>
  <nz-breadcrumb>
    <i nz-icon nzType="folder" nzTheme="outline" style="margin-right: 10px; font-size: 22px;"></i>
    <nz-breadcrumb-item>
      <a [routerLink]="['../home']">Home</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Security</nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<!-- ADD BUTTON -->
<div style="text-align:right" >

  <i nz-icon nzType="plus-circle" nzTheme="outline" (click)="showAddModal()"></i>
  <nz-modal
    [(nzVisible)]="isAddModalVisible"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()"
  >
    <ng-template #modalTitle>Add a new security</ng-template>

    <ng-template #modalContent>
      <div [hidden]="addSubmitted">
        <input nz-input placeholder="security symbol" required [(ngModel)]="security.symbol" name="symbol"/>
      </div>
    </ng-template>

    <ng-template #modalFooter>
      <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
      
      <button nz-button nzType="primary" type="submit" class="btn btn-success" (click)="handleOk()" nzLoading="isConfirmLoading">Add</button>
    </ng-template>
  </nz-modal>  
</div>
<!-- ADD BUTTON END -->

<!-- A TABLE FOR THE DATA -->
<nz-table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Symbol</th>
      <th>Action</th>
    </tr>

  </thead>
  <tbody>
    <!-- Use ngFor to get all the securities -->
    <tr *ngFor="let s of securities| async">
      <td>{{s.id}}</td>
      <td>{{s.symbol}}</td>
      <td>
        <!-- A update icon and its corresponding window -->
        <i nz-icon nzType="edit" nzTheme="outline" (click)="showUpdateModal()"></i>
        <nz-modal
          [(nzVisible)]="isUpdateModalVisible"
          [nzTitle]="modalTitle"
          [nzContent]="modalContent"
          [nzFooter]="modalFooter"
          (nzOnCancel)="handleCancel()"
        >
          <ng-template #modalTitle>Modify the security</ng-template>

          <ng-template #modalContent>
            <div [hidden]="updateSubmitted">
              <input nz-input placeholder="symbol ID" required [(ngModel)]="security.id" name="id"/>
              <input nz-input placeholder="symbol name" required [(ngModel)]="security.symbol" name="symbol"/>
            </div>
          </ng-template>

          <ng-template #modalFooter>
            <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
            <button nz-button nzType="primary" (click)="handleUpdate(s.id)" nzLoading="isConfirmLoading">Modify</button>
          </ng-template>
        </nz-modal>
        <!-- UPDATE END -->
        <nz-divider nzType="vertical"></nz-divider>
        <i nz-icon nzType="delete" nzTheme="outline"
          nz-popconfirm
          nzPopconfirmTitle="Are you sure delete this task?"
          nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="confirm(s.id)"
          (nzOnCancel)="cancel()"></i>
      </td>
    </tr>
  </tbody>

</nz-table>
<!-- TABLE END -->

<!-- <nz-table nzTableLayout="fixed">
  <thead>
    <tr>
      <th>ID</th>
      <th nzCustomFilter>
        Symbol
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let security of securities| async">
      <td>{{security.id}}</td>
      <td>{{security.symbol}}</td>
      <td>
        <a>Modify</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search security symbol" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu> -->
